<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="../../../css/tailwind.css" rel="stylesheet" />
    <style>
      body {
        font-family: Rubik, sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="h-screen flex" style="background-color: #f1f5f9;">
      <div class="flex flex-col w-0 flex-1 overflow-hidden">
        <main
          class="flex-1 relative overflow-y-auto focus:outline-none"
          tabIndex="0"
        >
          <div class="px-8 py-2">
            <div class="mt-6 flex justify-center">
              <!-- MODAL -->

              <div class="bg-white w-full rounded-lg overflow-hidden max-w-3xl">
                <!-- MODAL HEADER -->

                <div
                  class="flex flex-row py-3 items-center justify-between px-5 shadow-sm"
                >
                  <div class="flex flex-row items-center">
                    <button
                      type="button"
                      class="inline-flex items-center px-8 py-2 border border-transparent shadow-sm text-sm font-medium rounded-xl text-white bg-geekBlue-500 hover:bg-geekBlue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-geekBlue-500"
                    >
                      To Do
                      <svg
                        width="10"
                        height="6"
                        viewBox="0 0 10 6"
                        class="ml-2 text-white"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M0.293015 0.292893C0.683538 -0.097631 1.3167 -0.097631 1.70723 0.292893L5.00011 3.58579L8.293 0.292893C8.68353 -0.0976311 9.31669 -0.0976311 9.70721 0.292893C10.0977 0.683417 10.0977 1.31658 9.70721 1.70711L5.70722 5.70711C5.3167 6.09763 4.68353 6.09763 4.29301 5.70711L0.293015 1.70711C-0.0975089 1.31658 -0.0975089 0.683417 0.293015 0.292893Z"
                          fill="white"
                        />
                      </svg>
                    </button>
                  </div>
                  <div class="inline-block flex flex-row items-center">
                    <div class="cursor-pointer mr-6">
                      <svg
                        width="16"
                        height="17"
                        viewBox="0 0 16 17"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15.875 1.21875V4.55859C15.875 4.93359 15.6992 5.19141 15.3477 5.33203C14.9961 5.47266 14.6914 5.41406 14.4336 5.15625L13.4492 4.17188L9.6875 7.96875C9.5 8.15625 9.30078 8.15625 9.08984 7.96875L8.28125 7.16016C8.09375 6.94922 8.09375 6.75 8.28125 6.5625L12.0781 2.80078L11.0938 1.81641C10.8359 1.55859 10.7773 1.25391 10.918 0.902344C11.0586 0.550781 11.3164 0.375 11.6914 0.375H15.0312C15.2656 0.375 15.4648 0.457031 15.6289 0.621094C15.793 0.785156 15.875 0.984375 15.875 1.21875ZM6.3125 8.53125C6.5 8.34375 6.69922 8.34375 6.91016 8.53125L7.71875 9.33984C7.90625 9.55078 7.90625 9.75 7.71875 9.9375L3.92188 13.6992L4.90625 14.6836C5.16406 14.9414 5.22266 15.2461 5.08203 15.5977C4.94141 15.9492 4.68359 16.125 4.30859 16.125H0.96875C0.734375 16.125 0.535156 16.043 0.371094 15.8789C0.207031 15.7148 0.125 15.5156 0.125 15.2812V11.9414C0.125 11.5664 0.300781 11.3086 0.652344 11.168C1.00391 11.0273 1.30859 11.0859 1.56641 11.3438L2.55078 12.3281L6.3125 8.53125Z"
                          fill="#94A3B8"
                        />
                      </svg>
                    </div>

                    <div class="cursor-pointer">
                      <svg
                        width="14"
                        height="14"
                        viewBox="0 0 14 14"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M1 13L13 1M1 1L13 13"
                          stroke="#9ca3af"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </div>
                  </div>
                </div>

                <!-- MODAL MAIN BEGIN -->

                <div class="grid grid-cols-6">
                  <!-- MODAL LEFT COLUMN BEGIN -->

                  <div class="col-span-4 p-6">
                    <div>
                      <p class="text-lg leading-6 font-medium">
                        Send Documents to Steve
                      </p>
                    </div>
                    <div class="mt-6">
                      <label
                        class="inline-flex flex-row items-center mb-2"
                        for="description"
                      >
                        <svg
                          width="18"
                          height="11"
                          viewBox="0 0 18 11"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M1.5 0.833008H16.5M1.5 5.41634H11.8846M1.5 9.99967H8.55128"
                            stroke="#111827"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                        <p
                          class="text-sm leading-5 font-medium ml-2 text-gray-900"
                        >
                          Description
                        </p>
                      </label>
                      <textarea
                        id="description"
                        name="description"
                        rows="2"
                        style="width: 29.5rem;"
                        class="bg-gray-50 shadow-sm focus:bg-gray-50 focus:ring-geekBlue-500 focus:border-geekBlue-500 mt-1 block w-full sm:text-sm border-transparent rounded-md placeholder-gray-400 text-xs leading-4 font-normal"
                        placeholder="Write description"
                      ></textarea>
                    </div>
                    <div class="mt-6">
                      <div
                        class="flex flex-row items-center mb-2"
                        for="description"
                      >
                        <svg
                          width="18"
                          height="18"
                          viewBox="0 0 18 18"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M6.5 9L8.16667 10.6667L11.5 7.33333M16.5 9C16.5 13.1421 13.1421 16.5 9 16.5C4.85786 16.5 1.5 13.1421 1.5 9C1.5 4.85786 4.85786 1.5 9 1.5C13.1421 1.5 16.5 4.85786 16.5 9Z"
                            stroke="#111827"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>

                        <p
                          class="text-sm leading-5 font-medium ml-2 text-gray-900"
                        >
                          Checklist
                        </p>
                      </div>

                      <label
                        class="inline-flex flex-row items-center mb-2"
                        for="X"
                      >
                        <div class="flex flex-row items-center mt-1">
                          <div class="mr-2">
                            <svg
                              width="16"
                              height="16"
                              viewBox="0 0 16 16"
                              fill="none"
                              xmlns="http://www.w3.org/2000/svg"
                            >
                              <path
                                d="M7.99967 1.33301V14.6663M14.6663 7.99967L1.33301 7.99967"
                                stroke="#9CA3AF"
                                stroke-width="2"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                              />
                            </svg>
                          </div>
                          <p
                            class="text-gray-400 text-sm leading-5 font-medium cursor-pointer"
                          >
                            Add checklist item
                          </p>
                        </div>
                      </label>
                    </div>
                    <div class="mt-6">
                      <label
                        class="inline-flex flex-row items-center mb-2"
                        for="attatchment"
                      >
                        <svg
                          width="13"
                          height="14"
                          viewBox="0 0 13 14"
                          fill="none"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M8.53538 3.52778L3.96192 8.10124C3.41952 8.64364 3.41952 9.52303 3.96192 10.0654C4.50431 10.6078 5.38371 10.6078 5.9261 10.0654L10.3804 5.49196C11.4652 4.40717 11.4652 2.64838 10.3804 1.56359C9.29563 0.478803 7.53684 0.478803 6.45205 1.56359L1.99773 6.13706C0.370548 7.76424 0.370548 10.4024 1.99773 12.0296C3.62492 13.6568 6.2631 13.6568 7.89029 12.0296L12.2357 7.69444"
                            stroke="#111827"
                            stroke-width="1.25"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          />
                        </svg>
                        <p
                          class="text-sm leading-5 font-medium ml-2 text-gray-900"
                        >
                          Attachments
                        </p>
                      </label>
                    </div>
                    <div class="mt-2">
                      <label for="attatchment-uploads">
                        <div class="flex items-center cursor-pointer">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-gray-400"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              stroke-width="2"
                              d="M12 6v6m0 0v6m0-6h6m-6 0H6"
                            />
                          </svg>
                          <span class="text-gray-400 text-sm mt-1 ml-1"
                            >Add Attatchment</span
                          >
                        </div>
                      </label>
                      <input
                        id="attatchment-uploads"
                        class="hidden"
                        type="file"
                      />
                    </div>
                  </div>

                  <!-- MODAL LEFT COLUMN END -->

                  <!-- MODAL RIGHT COLUMN BEGIN -->

                  <div class="col-span-2">
                    <div
                      class="flex flex-col w-full border-solid border-r-0 border-b-0 border-gray-200 py-3 px-4"
                      style="background-color: #f8fafc;"
                    >
                      <!-- Assigned To -->

                      <div>
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Assigned to
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Assignee
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Due Date -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Due Date
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Date
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                width="18"
                                height="18"
                                viewBox="0 0 18 18"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                              >
                                <path
                                  d="M5.66667 4.83333V1.5M12.3333 4.83333V1.5M4.83333 8.16667H13.1667M3.16667 16.5H14.8333C15.7538 16.5 16.5 15.7538 16.5 14.8333V4.83333C16.5 3.91286 15.7538 3.16667 14.8333 3.16667H3.16667C2.24619 3.16667 1.5 3.91286 1.5 4.83333V14.8333C1.5 15.7538 2.24619 16.5 3.16667 16.5Z"
                                  stroke="#9CA3AF"
                                  stroke-width="2"
                                  stroke-linecap="round"
                                  stroke-linejoin="round"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Priority -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Priority
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Priority
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Department -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Department
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Department
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- For Student -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          For Student
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Student
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Related Task -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Related Task
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Task
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Branch -->

                      <div class="mt-3">
                        <label
                          id="listbox-label"
                          class="block text-sm font-medium text-gray-700"
                        >
                          Branch
                        </label>
                        <div class="mt-1 relative">
                          <button
                            type="button"
                            class="bg-white relative w-full border border-gray-300 rounded-md shadow-sm pl-3 pr-10 py-2 text-left cursor-default focus:outline-none focus:ring-1 focus:ring-geekBlue-500 focus:border-geekBlue-500 sm:text-sm"
                            aria-haspopup="listbox"
                            aria-expanded="true"
                            aria-labelledby="listbox-label"
                          >
                            <span class="block truncate">
                              Select Branch
                            </span>
                            <span
                              class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none"
                            >
                              <svg
                                class="h-5 w-5 text-gray-400"
                                xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20"
                                fill="currentColor"
                                aria-hidden="true"
                              >
                                <path
                                  fill-rule="evenodd"
                                  d="M10 3a1 1 0 01.707.293l3 3a1 1 0 01-1.414 1.414L10 5.414 7.707 7.707a1 1 0 01-1.414-1.414l3-3A1 1 0 0110 3zm-3.707 9.293a1 1 0 011.414 0L10 14.586l2.293-2.293a1 1 0 011.414 1.414l-3 3a1 1 0 01-1.414 0l-3-3a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                />
                              </svg>
                            </span>
                          </button>
                        </div>
                      </div>

                      <!-- Meta Data -->

                      <div class="mt-3">
                        <div>
                          <span class="text-xs leading-4 font-normal"
                            >Task Created by
                            <span class="font-medium">Sam Smith</span></span
                          >
                        </div>
                        <div>
                          <span
                            class="text-gray-500 text-xs leading-4 font-medium"
                            >Feb 4, 2021, 11:17 AM</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>

                  <!-- MODAL RIGHT COLUMN END -->
                </div>

                <!-- MODAL Footer -->

                <div
                  class="px-4 py-3 flex justify-end"
                  style="border-top-width: 0.5px;"
                >
                  <button
                    type="button"
                    class="mr-3 inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm leading-4 font-medium rounded-xl text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-geekBlue-500"
                  >
                    Cancel
                  </button>
                  <button
                    type="button"
                    class="inline-flex items-center px-4 py-2 border border-transparent text-base font-medium rounded-xl shadow-sm text-white bg-geekBlue-500 hover:bg-geekBlue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-geekBlue-400"
                  >
                    Save Changes
                  </button>
                </div>

                <!-- MODAL MAIN BEGIN -->
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
